name: "FRP Client"
description: "You can use this tool to achieve remote access to local Home Assistant OS by port forwarding"
version: "1.0.1"
slug: "frp_client"
host_network: true
startup: application
boot: "auto"
init: false
map:
  - "share:rw"
privileged:
  - NET_ADMIN
devices:
  - /dev/net/tun

arch:
  - aarch64
  - amd64
options:
  serverAddr: "frp.freefrp.net"
  serverPort: 7000
  authToken: "freefrp.net"
  user: ""
  proxies: []
  debug: false
schema:
  serverAddr: str
  serverPort: int
  authToken: str
  proxies: 
    - type: str
      localIP: str
      localPort: int
      name: str?
      customDomains: str?
      subdomain: str?
      remotePort: int?
  debug: bool?